*.sublime-project
*.sublime-workspace
.DS_Store

/wordpress/wp-content/themes/*
!/wordpress/wp-content/themes/qedit

/wordpress/wp-content/plugins/akismet
/wordpress/wp-content/themes/qedit/css/style.css.map
