# File system junk files
Desktop.ini
Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
.apdisk
.fseventsd

# Editor files
*.sublime-*
*.swp
.c9
.sass-cache/

/node_modules


/wordpress/wp-content/themes/*
/wordpress/wp-content/themes/qedit/css/style.css.map
!/wordpress/wp-content/themes/qedit

/wordpress/wp-content/uploads
/wordpress/wp-content/plugins/*
/wordpress/wp-content/themes/qedit/rev-manifest.json
/data/db.sql
/wordpress/wp-content/themes/qedit/css/style.css
/wordpress/wp-content/themes/qedit/dist
