$header-height:8rem;

header {
	&.entry-header {
		background-color: #18B3E3;
    	width: 100%;
    	height: $header-height;

    	h1 {
    		margin: 0;
    		color: white;
    		line-height: $header-height;
    		padding-left: 2rem;
    	}
    }



}