.slider-container {
	height: 37rem;
	.background-video {
		height: 30rem;
		overflow: hidden;
		position:relative;
		video {
			width: 100%;
		}
		.overlay {
			height: 100%;
			width: 100%;
			background-color: rgba(0,0,0,0.56);
			position: absolute;
			top: 0;
		}
	}
	
	// Icons
	.ms-thumbs-cont {
		left:7%!important;
		.ms-thumb-frame {
			opacity:0.7;
			&-selected {opacity:1;}
		}
	}

	.master-slider-parent {
		top: -30rem;
	}

	h1 {
		color:#ffffff;
		font-size:3.3rem;
		text-transform:none;
		margin-bottom:1rem;
	}

	p {
		color:#ffffff;
		font-size:1.4rem;
		line-height:2.5rem;
		font-weight:300;
	}
}