.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

article.post {
	&.light-gray-bg {
		background-color: #f2f2f2;
	}
	h5 {font-size:1.5rem;}
	padding:2rem;
	.post-content {
		padding:1rem;
	}
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.latest-posts {
	background-color: white;
    padding-top: 2rem;
	.post-container {
		width: 60%;
    	float:left;
    	padding-left:1rem;
		.post-details {
			color:#919191;
			font-family: 'Open Sans';
			font-size: 0.9rem;
		}
		.description {
			padding:0;
		}
	}

	.image-container {
		width:16rem;
		float:left;
	}

	.read-more {
		a {
			color:$color__blue;
		}
	}

}

#contact-us {
	background-color: $color__blue;
	padding-bottom: 2rem;
	div.row > div {
		text-align: center;
	}
	h2 {
		color:white;
		margin-bottom: 4rem;
	}
	.logo-container {
		width:40%;
		float:left;
	}
	.contact-us-container {
		width:60%;
		float:left;
		a {
			color: white;
		    font-size: 1.6rem;
		    font-family: 'Open Sans';
		    font-weight: 500;
		    text-decoration: underline;
		}
		p {
			color:white;
		}
	}
}