.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

article.post {
	&.light-gray-bg {
		background-color: #f2f2f2;
	}
	h5 {font-size:1.5rem;}
	padding:2rem;
	.post-content {
		padding:1rem;
	}
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.latest-posts {
	.post-container {
		width: 60%;
    	float:left;
    	padding-left:1rem;
		.post-details {
			color:#919191;
			font-family: 'Open Sans';
			font-size: 0.9rem;
		}
		.description {
			padding:0;
		}
	}

	.image-container {
		width:16rem;
		float:left;
	}

	.read-more {
		a {
			color:$color__blue;
		}
	}

}