h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: 'Open Sans';
	color:$color__black;
}

h1 {
	color: white;
    font-size: 2.4rem;
    // padding: 2.42rem 0 2.42rem 3.6rem;
}

h2 {
	font-size: 2.2rem;
    margin-top: 2.92rem;
    // padding-left: 3.6rem;
}

h3 {
	font-size: 2rem;
    // padding-left: 3.92rem;
}

h4 {
	font-size: 1.67rem;
    // padding-left: 3.92rem;
}

h5 {
	font-size:1.3rem;
	font-weight:400;
}